@model Ticketverkoop.ViewModel.ClubInfoVM

@if (Model != null)
{
    <div class="col-md-4">
        <div class="tile">

            <div class="title"> @Model.Naam</div>
            <div class="image">
                <img src=@Model.ImagePath asp-append-version="true">
            </div>
            <div class="omschrijving">@Model.Omschrijving</div>
            <div>Jaar van ontstaan: @Model.Ontstaan </div>


        </div>
    </div>
}