@model IEnumerable<Ticketverkoop.ViewModel.ClubInfoVM>

<h1>Extra info clubs</h1>
<div class="row">
    <!--Bootstrap zorgt er hier voor dat de tiles niet tegen de kanten geplakt zijn-->
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("DisplayTemplates/_TileviewClub", item)
        <!--er wordt constant een club gegeven aan een tile-->
        <!--er wordt niet gewacht totdat de club gegeven is aan de tile om de volgende al te geven, dit gaat veel sneller-->
        <!--er worden meerdere processen gestart-->
    }
</div>
