@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Op deze site kunt u abonnementen en tickets kopen voor alle matchen van alle clubs!</p>
    <img src="~/Images/voetbal.jpg" />

</div>
