@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Op deze site kunt u abonnementen en tickets kopen voor alle matchen van alle clubs!</p>
    <table align="center" cellspacing="10" cellpadding="10">
    <tr>
        <td>
            <img src="~/Images/Home/anderlech.jpg" />
        </td>
        <td>
            <img src="~/Images/Home/club2.jpg" />
        </td>

    </tr>
    <tr>
        <td>
            <img src="~/Images/Home/genk2.png" />
        </td>
        <td>
            <img src="~/Images/Home/gent2.png" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Images/Home/oostende2.png" />
        </td>
        <td>
            <img src="~/Images/Home/zulte.jpg" />
        </td>
    </tr>
    <tr class="col-md-12">
            <img src="~/Images/voetbal.jpg" />
    </tr>
    </table>


</div>
