@model IEnumerable<Ticketverkoop.ViewModel.StadionInfoVM>

<h1>Extra info stadions</h1>
<div class="row">
    <!--Bootstrap zorgt er hier voor dat de tiles niet tegen de kanten geplakt zijn-->
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("DisplayTemplates/_TileviewStadion", item)
        <!--er wordt constant een stadion gegeven aan een tile-->
        <!--er wordt niet gewacht totdat het stadion gegeven is aan de tile om de volgende al te geven, dit gaat veel sneller-->
        <!--er worden meerdere processen gestart-->
    }
</div>

